@model WebAppSASAcademico.Models.ListaExercicios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListaExercicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdListaExercicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
