@model IEnumerable<WebAppSASAcademico.Models.Exercicio>

@{
    ViewBag.Title = "ExerciciosListaParaCorrecao";
}

<h2>ExerciciosListaParaCorrecao</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.enunciado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respostaAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respostaProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificador)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ListaExercicios.descricao)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.enunciado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respostaAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respostaProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificador)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ListaExercicios.descricao)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.IdExercicio }) |*@
            @Html.ActionLink("Editar Exercicio", "Edit", "Exercicios",new { id = item.IdExercicio}, new { id = item.IdExercicio })
            @*@Html.ActionLink("Go to contact page", "Contact", "Home", new { id = item.IdExercicio }, new { id = item.IdExercicio })*@
        </td>
    </tr>
}

</table>
